@orange: #e39227;
@yellow: #e3c027;

.margenes(@top, @bottom){
    margin-top: @top;
    margin-bottom: @bottom;
}

.paddings(@top, @right, @bottom, @left) {
    padding-top: @top;
    padding-right: @right;
    padding-bottom: @bottom;
    padding-left: @left;    
}

.jumbotron {
    background-color: @orange;
    color: black;
    .margenes(50px, 10px); 
}

footer {
    .paddings(10px, 10px, 0px, 10px);
    background-color: @yellow;
    .margenes(10px, 0px); 
}

.card-hotel {
    flex: 1 200px;
    .margenes(10px, 0px); 
}

.btn-reserva {
    width: 100%;
    border-radius: 0px; 
}

.padding-icons {
    .paddings(0px, 10px, 0px, 0px);
}

.tab-content {
    .paddings(10px, 0px, 0px, 0px);
} 
