$orange: #e39227;
$yellow: #e3c027;
$red: #e33427;
$green: #17ca3e;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin paddings($top, $right, $bottom, $left) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;    
}

.jumbotron {
    background-color: $orange;
    color: black;    
    @include margenes(50px, 10px);
}

footer {
    @include paddings(10px, 10px, 0px, 10px);
    background-color: $yellow;
    @include margenes(10px, 0px);
}

.card-hotel {
    flex: 1 200px;
    @include margenes(10px, 0px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.padding-icons{
    @include paddings(0px, 10px, 0px, 0px);
}

.tab-content{
    @include paddings(10px, 0px, 0px, 0px);
}